{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "quotes": ["error", "single"]
  },
  "parserOptions": {
    "sourceType": "module",
},
"parser": "babel-eslint"
}

