//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Marcellus', serif;

html {
    margin-bottom: 0px;
    height: 100%;
    background-color:rgba(218,246,251,1);
}
.movie-view {
    font-family: 'Marcellus', serif;
    
    height:100%;

}
p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

