//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Marcellus', serif;

.form {
    border-style: solid;
    border-width: 1px
}

.form-group {
    margin-top: 80px;
    ;
}

.form-label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.form-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

span {
    text-decoration: underline;
    color: rgba(134,141,155,1);
}
span:hover {
    cursor: pointer;
}

