.mv {
    background-color:rgba(218,246,251,1);
}

.main-view {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom:0;
    
    
}

.card {
    margin-top: 10px;
    margin-bottom: 75px;
    min-height: 200px;
    box-shadow: 0 2px 10px 0 rgba(134,141,155,1);
    
}

.card:hover {
    cursor: pointer;
    box-shadow: none;
}

.navbar {
    font-family: 'Marcellus';
   
 
    font-size: 20px;
  
    background-color: rgba(189,192,193,1);
    

}

.foot {
    background-color:  rgba(189,192,193,1);
    min-height: 10px;
   
}





