.card-header {
    font-family: 'Marcellus', serif;
    font-size: 20px;
    background-color: rgba(189,192,193,1);
    
}

.button {
    background-color:rgba(218,246,251,1);
    max-width: 30%;
}



//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Marcellus', serif;