//font-family: 'Open Sans Condensed', sans-serif;
//font-family: 'Marcellus', serif;

.form-label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.form-group {
    margin-top: 45px;
}